extends ../../layout/default.pug
include ../../mixins/alert.pug
block main
	h1(class="mb-4") Tạo mới sản phẩm
	+alert-error(5000)
	.card
		.card-header Thông tin sản phẩm
		.card-body
			form(action=`${path_url}/products/create`, id="form-create-product" method="POST" enctype="multipart/form-data")
				.form-group
					label(for="title") Tiêu đề
					input(type="text" class="form-control" id="title" name="title" placeholder="Nhập tên sản phẩm" required)
				.form-group
					label(for="description") Mô tả
					input(class="image-mce" type='file' name='my-file' style='display: none;' onchange)
					textarea(class="form-control tiny-mce" id="description" name="description" rows="4" placeholder="Nhập mô tả sản phẩm")
				.form-group
					label(for="price") Giá
					input(type="number" class="form-control" id="price" name="price" placeholder="Nhập giá sản phẩm" required)
				.form-group
					label(for="discount") % Giảm giá
					input(type="number" class="form-control" name="discountPercentage" id="discount" value="0" min="0")
				.form-group
					label(for="stock") Số lượng
					input(type="number" class="form-control" name="stock" id="stock" value="0" min="0")
				div(class="form-group" upload-image)
					label(for="thumbnail") Hình ảnh
					input(type="file" class="form-control" id="thumbnail" name="thumbnail" accept="image/*" upload-image-input)
					div(upload-image-preview-wrapper)
						img(src="" upload-image-preview )
						button(id="remove-img-preview" class="remove-image-preview-hidden" type='button') X
				.from-group
					label(for="position") Vị trí
					input(type="number" class="form-control" id="position" name="position" placeholder="Tự động tăng" min="1")  
				.form-group
					label(for="status") Trạng thái
					select(class="form-control" id="status" name="status" required)
						option(value="active") Hoạt động
						option(value="inactive") Ngừng hoạt động

				.form-group
					button(type="submit" class="btn btn-primary mt-3") Lưu sản phẩm

	script(src="/admin/js/products.js")