//- Định nghĩa header
header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard")
      .col-9
        .header-title
          h3 Admin Dashboard
        
