.sider
	.inner-menu 
		ul
			li
				a(href=`${path_url}/dashboard`) Tổng quan
			li
				a(href=`${path_url}/products`) Danh sách sản phẩm
			li
				a(href=`${path_url}/products-category/`) Danh mục sản phẩm